@lane-1-red: lighten(green, 50%);
@lane-2-yellow: lighten(blue, 40%);
@lane-3-blue: lighten(yellow, 30%);
@lane-4-green: lighten(red, 40%);

@first-place-gold: gold;
@second-place-silver: silver;
@third-place-bronze: darken(gold, 10%);
@fourth-place-blue: deepskyblue;
