#current-race {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220px;
  background-color: black;
  border: solid 5px #1a1a1a;
  text-align: center;
  font-size: large;
}
#current-race .race .race-title {
  background-color: black;
  padding: 10px;
  color: ghostwhite;
}
#current-race .race .lane-1,
#current-race .race .lane-2,
#current-race .race .lane-3,
#current-race .race .lane-4 {
  cursor: pointer;
  position: relative;
  font-size: 16pt;
  font-weight: bolder;
  color: black;
  height: 100px;
  width: 25%;
  float: left;
  border: 5px solid #1a1a1a;
  border-radius: 25px;
}
#current-race .race .lane-1 .car-title,
#current-race .race .lane-2 .car-title,
#current-race .race .lane-3 .car-title,
#current-race .race .lane-4 .car-title,
#current-race .race .lane-1 .car-builder,
#current-race .race .lane-2 .car-builder,
#current-race .race .lane-3 .car-builder,
#current-race .race .lane-4 .car-builder {
  height: 32px;
}
#current-race .race .lane-1 .race-place-first,
#current-race .race .lane-2 .race-place-first,
#current-race .race .lane-3 .race-place-first,
#current-race .race .lane-4 .race-place-first,
#current-race .race .lane-1 .race-place-second,
#current-race .race .lane-2 .race-place-second,
#current-race .race .lane-3 .race-place-second,
#current-race .race .lane-4 .race-place-second,
#current-race .race .lane-1 .race-place-third,
#current-race .race .lane-2 .race-place-third,
#current-race .race .lane-3 .race-place-third,
#current-race .race .lane-4 .race-place-third,
#current-race .race .lane-1 .race-place-fourth,
#current-race .race .lane-2 .race-place-fourth,
#current-race .race .lane-3 .race-place-fourth,
#current-race .race .lane-4 .race-place-fourth {
  position: relative;
  bottom: 2px;
  height: 28px;
  margin: auto;
  color: black;
  border-radius: 50px;
}
#current-race .race .lane-1 .race-place-first span,
#current-race .race .lane-2 .race-place-first span,
#current-race .race .lane-3 .race-place-first span,
#current-race .race .lane-4 .race-place-first span,
#current-race .race .lane-1 .race-place-second span,
#current-race .race .lane-2 .race-place-second span,
#current-race .race .lane-3 .race-place-second span,
#current-race .race .lane-4 .race-place-second span,
#current-race .race .lane-1 .race-place-third span,
#current-race .race .lane-2 .race-place-third span,
#current-race .race .lane-3 .race-place-third span,
#current-race .race .lane-4 .race-place-third span,
#current-race .race .lane-1 .race-place-fourth span,
#current-race .race .lane-2 .race-place-fourth span,
#current-race .race .lane-3 .race-place-fourth span,
#current-race .race .lane-4 .race-place-fourth span {
  position: relative;
  top: 0px;
  left: -1px;
}
#current-race .race .lane-1 .race-place-first,
#current-race .race .lane-2 .race-place-first,
#current-race .race .lane-3 .race-place-first,
#current-race .race .lane-4 .race-place-first {
  background-color: gold;
}
#current-race .race .lane-1 .race-place-second,
#current-race .race .lane-2 .race-place-second,
#current-race .race .lane-3 .race-place-second,
#current-race .race .lane-4 .race-place-second {
  background-color: silver;
}
#current-race .race .lane-1 .race-place-third,
#current-race .race .lane-2 .race-place-third,
#current-race .race .lane-3 .race-place-third,
#current-race .race .lane-4 .race-place-third {
  background-color: #ccac00;
}
#current-race .race .lane-1 .race-place-fourth,
#current-race .race .lane-2 .race-place-fourth,
#current-race .race .lane-3 .race-place-fourth,
#current-race .race .lane-4 .race-place-fourth {
  background-color: deepskyblue;
}
#current-race .race .lane-1 {
  background-color: #80ff80;
}
#current-race .race .lane-2 {
  background-color: #ccccff;
}
#current-race .race .lane-3 {
  background-color: #ffff99;
}
#current-race .race .lane-4 {
  background-color: #ffcccc;
}
#current-race .control {
  position: relative;
  background-color: black;
  height: 100%;
  width: 100%;
  clear: both;
}
#current-race .control button {
  margin: 5px 100px;
  width: 150px;
  border-style: double;
}
#current-race .control .save-button {
  position: absolute;
  top: 0px;
  left: 50%;
}
#current-race .control .clear-button {
  position: absolute;
  top: 0px;
  right: 50%;
}
#current-race .control .btn-left,
#current-race .control .btn-right {
  opacity: 0.1;
  color: white;
  position: absolute;
  top: 20px;
}
#current-race .control .btn-left:hover,
#current-race .control .btn-right:hover {
  opacity: 1;
}
#current-race .control .btn-left {
  left: 20px;
}
#current-race .control .btn-right {
  right: 20px;
}
/*# sourceMappingURL=current-race.css.map */