<div id="current-race">
    <div id="current-race-container">
        <!-- ko if: CurrentRace() != null-->
        <div class="race" data-bind="with: CurrentRace()">
            <div class="race-title" data-bind="text: 'Race #' + RaceNumber + ' - ' + Group"></div>
            <div class="lane-1 car" data-bind="with: Car1, visible: !$root.IsBye(Car1), click: function() { $root.CurrentRace_CarClick(Car1); }">@CurrentRaceCar()</div>
            <div class="lane-2 car" data-bind="with: Car2, visible: !$root.IsBye(Car2), click: function() { $root.CurrentRace_CarClick(Car2); }">@CurrentRaceCar()</div>
            <div class="lane-3 car" data-bind="with: Car3, visible: !$root.IsBye(Car3), click: function() { $root.CurrentRace_CarClick(Car3); }">@CurrentRaceCar()</div>
            <div class="lane-4 car" data-bind="with: Car4, visible: !$root.IsBye(Car4), click: function() { $root.CurrentRace_CarClick(Car4); }">@CurrentRaceCar()</div>
        </div>
        <div class="control">
            <button class="clear-button btn-lg btn" data-bind="click: function() { $root.CurrentRace_ClearPlaces(); }">Clear</button>
            <button class="save-button btn-lg btn" data-bind="click: function() { $root.CurrentRace_Save(); }, enable: $root.CurrentRace_AllPlacesSelected()">Save</button>
            <div class="btn-lg btn btn-left glyphicon glyphicon-chevron-left" data-bind="click: function() { $root.CurrentRace_PrevRace(); }"><i class="icon-prev"></i></div>
            <div class="btn-lg btn btn-right glyphicon glyphicon-chevron-right" data-bind="click: function() { $root.CurrentRace_NextRace(); }"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: CurrentRace() == null -->
        <div class="race">
            All Races complete
        </div>
        <!-- /ko -->
    </div>
</div>

@helper CurrentRaceCar()
{
    <div class="car-builder" data-bind="text: $root.DisplayIdAndCar(Car)"></div>
    <div class="car-title" data-bind="text: $root.DisplayName(Car)"></div>
    <!-- ko with: $root.LanePlace($data) -->
    <div class="race-place-first" data-bind="visible: $data == 1"><span>1st</span></div>
    <div class="race-place-second" data-bind="visible: $data == 2"><span>2nd</span></div>
    <div class="race-place-third" data-bind="visible: $data == 3"><span>3rd</span></div>
    <div class="race-place-fourth" data-bind="visible: $data == 4"><span>4th</span></div>
    <!-- /ko -->
}


